@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-p1sKIZ7_OIuz_font-family: "Inter", sans-serif;
  --mixin-p1sKIZ7_OIuz_font-size: 14px;
  --mixin-p1sKIZ7_OIuz_font-weight: 400;
  --mixin-p1sKIZ7_OIuz_font-style: normal;
  --mixin-p1sKIZ7_OIuz_color: #535353;
  --mixin-p1sKIZ7_OIuz_text-align: left;
  --mixin-p1sKIZ7_OIuz_text-transform: none;
  --mixin-p1sKIZ7_OIuz_line-height: 1.5;
  --mixin-p1sKIZ7_OIuz_letter-spacing: normal;
  --mixin-p1sKIZ7_OIuz_white-space: pre-wrap;
  --mixin-p1sKIZ7_OIuz_user-select: text;
  --mixin-p1sKIZ7_OIuz_text-decoration-line: none;
  --mixin-p1sKIZ7_OIuz_text-overflow: clip;
  --mixin-1Du-S-YbCvQ4_color: #000000;
  --mixin-1Du-S-YbCvQ4_font-weight: 600;
  --mixin-1Du-S-YbCvQ4_font-size: 40px;
  --mixin-1Du-S-YbCvQ4_line-height: 1;
  --mixin-1Du-S-YbCvQ4_letter-spacing: -1px;
  --mixin-1Du-S-YbCvQ4_white-space: pre-wrap;
  --mixin-EhgO_X5EX9DP_color: #000000;
  --mixin-EhgO_X5EX9DP_font-size: 30px;
  --mixin-EhgO_X5EX9DP_font-weight: 600;
  --mixin-EhgO_X5EX9DP_line-height: 1.1;
  --mixin-EhgO_X5EX9DP_white-space: pre-wrap;
  --mixin-jUCwdULQN1pK_color: #0070f3;
  --mixin-jUCwdULQN1pK_white-space: pre-wrap;
  --mixin-zq9tLQ_roIue_color: #000000;
  --mixin-zq9tLQ_roIue_font-size: 24px;
  --mixin-zq9tLQ_roIue_font-weight: 600;
  --mixin-zq9tLQ_roIue_line-height: 1.2;
  --mixin-zq9tLQ_roIue_white-space: pre-wrap;
  --mixin-NXyIJFesOuXB_color: #000000;
  --mixin-NXyIJFesOuXB_font-size: 20px;
  --mixin-NXyIJFesOuXB_font-weight: 600;
  --mixin-NXyIJFesOuXB_line-height: 1.3;
  --mixin-NXyIJFesOuXB_white-space: pre-wrap;
  --mixin-B9X2ghZvoJc-_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-B9X2ghZvoJc-_border-bottom-color: #dddddd;
  --mixin-B9X2ghZvoJc-_border-bottom-style: solid;
  --mixin-B9X2ghZvoJc-_border-bottom-width: 1px;
  --mixin-B9X2ghZvoJc-_border-left-color: #dddddd;
  --mixin-B9X2ghZvoJc-_border-left-style: solid;
  --mixin-B9X2ghZvoJc-_border-left-width: 1px;
  --mixin-B9X2ghZvoJc-_border-right-color: #dddddd;
  --mixin-B9X2ghZvoJc-_border-right-style: solid;
  --mixin-B9X2ghZvoJc-_border-right-width: 1px;
  --mixin-B9X2ghZvoJc-_border-top-color: #dddddd;
  --mixin-B9X2ghZvoJc-_border-top-style: solid;
  --mixin-B9X2ghZvoJc-_border-top-width: 1px;
  --mixin-B9X2ghZvoJc-_border-bottom-left-radius: 3px;
  --mixin-B9X2ghZvoJc-_border-bottom-right-radius: 3px;
  --mixin-B9X2ghZvoJc-_border-top-left-radius: 3px;
  --mixin-B9X2ghZvoJc-_border-top-right-radius: 3px;
  --mixin-B9X2ghZvoJc-_font-family: "Inconsolata";
  --mixin-B9X2ghZvoJc-_padding-bottom: 1px;
  --mixin-B9X2ghZvoJc-_padding-left: 4px;
  --mixin-B9X2ghZvoJc-_padding-right: 4px;
  --mixin-B9X2ghZvoJc-_padding-top: 1px;
  --mixin-B9X2ghZvoJc-_white-space: pre-wrap;
  --mixin-c8nV8MtVicjV_border-left-color: #dddddd;
  --mixin-c8nV8MtVicjV_border-left-style: solid;
  --mixin-c8nV8MtVicjV_border-left-width: 3px;
  --mixin-c8nV8MtVicjV_color: #888888;
  --mixin-c8nV8MtVicjV_padding-left: 10px;
  --mixin-c8nV8MtVicjV_white-space: pre-wrap;
  --mixin-_vZeovBmy-Nw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-_vZeovBmy-Nw_border-bottom-color: #dddddd;
  --mixin-_vZeovBmy-Nw_border-bottom-style: solid;
  --mixin-_vZeovBmy-Nw_border-bottom-width: 1px;
  --mixin-_vZeovBmy-Nw_border-left-color: #dddddd;
  --mixin-_vZeovBmy-Nw_border-left-style: solid;
  --mixin-_vZeovBmy-Nw_border-left-width: 1px;
  --mixin-_vZeovBmy-Nw_border-right-color: #dddddd;
  --mixin-_vZeovBmy-Nw_border-right-style: solid;
  --mixin-_vZeovBmy-Nw_border-right-width: 1px;
  --mixin-_vZeovBmy-Nw_border-top-color: #dddddd;
  --mixin-_vZeovBmy-Nw_border-top-style: solid;
  --mixin-_vZeovBmy-Nw_border-top-width: 1px;
  --mixin-_vZeovBmy-Nw_border-bottom-left-radius: 3px;
  --mixin-_vZeovBmy-Nw_border-bottom-right-radius: 3px;
  --mixin-_vZeovBmy-Nw_border-top-left-radius: 3px;
  --mixin-_vZeovBmy-Nw_border-top-right-radius: 3px;
  --mixin-_vZeovBmy-Nw_font-family: "Inconsolata";
  --mixin-_vZeovBmy-Nw_padding-bottom: 3px;
  --mixin-_vZeovBmy-Nw_padding-left: 6px;
  --mixin-_vZeovBmy-Nw_padding-right: 6px;
  --mixin-_vZeovBmy-Nw_padding-top: 3px;
  --mixin-_vZeovBmy-Nw_white-space: pre-wrap;
  --mixin-3DWty-Yi2IrV_display: flex;
  --mixin-3DWty-Yi2IrV_flex-direction: column;
  --mixin-3DWty-Yi2IrV_align-items: stretch;
  --mixin-3DWty-Yi2IrV_justify-content: flex-start;
  --mixin-3DWty-Yi2IrV_list-style-position: outside;
  --mixin-3DWty-Yi2IrV_padding-left: 40px;
  --mixin-3DWty-Yi2IrV_position: relative;
  --mixin-3DWty-Yi2IrV_list-style-type: disc;
  --mixin-3DWty-Yi2IrV_white-space: pre-wrap;
  --mixin-jGn80cKfuBr5_display: flex;
  --mixin-jGn80cKfuBr5_flex-direction: column;
  --mixin-jGn80cKfuBr5_align-items: stretch;
  --mixin-jGn80cKfuBr5_justify-content: flex-start;
  --mixin-jGn80cKfuBr5_list-style-position: outside;
  --mixin-jGn80cKfuBr5_padding-left: 40px;
  --mixin-jGn80cKfuBr5_position: relative;
  --mixin-jGn80cKfuBr5_list-style-type: decimal;
  --mixin-jGn80cKfuBr5_white-space: pre-wrap;
  --mixin-ewwNJhprSCm4_color: #000000;
  --mixin-ewwNJhprSCm4_font-size: 16px;
  --mixin-ewwNJhprSCm4_font-weight: 600;
  --mixin-ewwNJhprSCm4_line-height: 1.5;
  --mixin-ewwNJhprSCm4_white-space: pre-wrap;
  --mixin-W8DyQRE5iAu3_color: #000000;
  --mixin-W8DyQRE5iAu3_font-size: 14px;
  --mixin-W8DyQRE5iAu3_font-weight: 600;
  --mixin-W8DyQRE5iAu3_line-height: 1.5;
  --mixin-W8DyQRE5iAu3_white-space: pre-wrap;
  --mixin-REPnsBZTXVn9_color: #3291ff;
  --mixin-REPnsBZTXVn9_white-space: pre-wrap;
  --mixin-AarOOBtbS4Er_white-space: pre-wrap;
  --mixin-uBhsRCA7l0Qd_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-p1sKIZ7_OIuz_font-family);
  font-size: var(--mixin-p1sKIZ7_OIuz_font-size);
  font-weight: var(--mixin-p1sKIZ7_OIuz_font-weight);
  font-style: var(--mixin-p1sKIZ7_OIuz_font-style);
  color: var(--mixin-p1sKIZ7_OIuz_color);
  text-align: var(--mixin-p1sKIZ7_OIuz_text-align);
  text-transform: var(--mixin-p1sKIZ7_OIuz_text-transform);
  line-height: var(--mixin-p1sKIZ7_OIuz_line-height);
  letter-spacing: var(--mixin-p1sKIZ7_OIuz_letter-spacing);
  white-space: var(--mixin-p1sKIZ7_OIuz_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-1Du-S-YbCvQ4_color);
  font-weight: var(--mixin-1Du-S-YbCvQ4_font-weight);
  font-size: var(--mixin-1Du-S-YbCvQ4_font-size);
  line-height: var(--mixin-1Du-S-YbCvQ4_line-height);
  letter-spacing: var(--mixin-1Du-S-YbCvQ4_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-EhgO_X5EX9DP_color);
  font-size: var(--mixin-EhgO_X5EX9DP_font-size);
  font-weight: var(--mixin-EhgO_X5EX9DP_font-weight);
  line-height: var(--mixin-EhgO_X5EX9DP_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-jUCwdULQN1pK_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-zq9tLQ_roIue_color);
  font-size: var(--mixin-zq9tLQ_roIue_font-size);
  font-weight: var(--mixin-zq9tLQ_roIue_font-weight);
  line-height: var(--mixin-zq9tLQ_roIue_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-NXyIJFesOuXB_color);
  font-size: var(--mixin-NXyIJFesOuXB_font-size);
  font-weight: var(--mixin-NXyIJFesOuXB_font-weight);
  line-height: var(--mixin-NXyIJFesOuXB_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-B9X2ghZvoJc-_font-family);
  border-radius: var(--mixin-B9X2ghZvoJc-_border-top-left-radius)
    var(--mixin-B9X2ghZvoJc-_border-top-right-radius)
    var(--mixin-B9X2ghZvoJc-_border-bottom-right-radius)
    var(--mixin-B9X2ghZvoJc-_border-bottom-left-radius);
  padding: var(--mixin-B9X2ghZvoJc-_padding-top)
    var(--mixin-B9X2ghZvoJc-_padding-right)
    var(--mixin-B9X2ghZvoJc-_padding-bottom)
    var(--mixin-B9X2ghZvoJc-_padding-left);
  border-top: var(--mixin-B9X2ghZvoJc-_border-top-width)
    var(--mixin-B9X2ghZvoJc-_border-top-style)
    var(--mixin-B9X2ghZvoJc-_border-top-color);
  border-right: var(--mixin-B9X2ghZvoJc-_border-right-width)
    var(--mixin-B9X2ghZvoJc-_border-right-style)
    var(--mixin-B9X2ghZvoJc-_border-right-color);
  border-bottom: var(--mixin-B9X2ghZvoJc-_border-bottom-width)
    var(--mixin-B9X2ghZvoJc-_border-bottom-style)
    var(--mixin-B9X2ghZvoJc-_border-bottom-color);
  border-left: var(--mixin-B9X2ghZvoJc-_border-left-width)
    var(--mixin-B9X2ghZvoJc-_border-left-style)
    var(--mixin-B9X2ghZvoJc-_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-c8nV8MtVicjV_color);
  padding-left: var(--mixin-c8nV8MtVicjV_padding-left);
  border-left: var(--mixin-c8nV8MtVicjV_border-left-width)
    var(--mixin-c8nV8MtVicjV_border-left-style)
    var(--mixin-c8nV8MtVicjV_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-_vZeovBmy-Nw_font-family);
  border-radius: var(--mixin-_vZeovBmy-Nw_border-top-left-radius)
    var(--mixin-_vZeovBmy-Nw_border-top-right-radius)
    var(--mixin-_vZeovBmy-Nw_border-bottom-right-radius)
    var(--mixin-_vZeovBmy-Nw_border-bottom-left-radius);
  padding: var(--mixin-_vZeovBmy-Nw_padding-top)
    var(--mixin-_vZeovBmy-Nw_padding-right)
    var(--mixin-_vZeovBmy-Nw_padding-bottom)
    var(--mixin-_vZeovBmy-Nw_padding-left);
  border-top: var(--mixin-_vZeovBmy-Nw_border-top-width)
    var(--mixin-_vZeovBmy-Nw_border-top-style)
    var(--mixin-_vZeovBmy-Nw_border-top-color);
  border-right: var(--mixin-_vZeovBmy-Nw_border-right-width)
    var(--mixin-_vZeovBmy-Nw_border-right-style)
    var(--mixin-_vZeovBmy-Nw_border-right-color);
  border-bottom: var(--mixin-_vZeovBmy-Nw_border-bottom-width)
    var(--mixin-_vZeovBmy-Nw_border-bottom-style)
    var(--mixin-_vZeovBmy-Nw_border-bottom-color);
  border-left: var(--mixin-_vZeovBmy-Nw_border-left-width)
    var(--mixin-_vZeovBmy-Nw_border-left-style)
    var(--mixin-_vZeovBmy-Nw_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-3DWty-Yi2IrV_display);
  flex-direction: var(--mixin-3DWty-Yi2IrV_flex-direction);
  align-items: var(--mixin-3DWty-Yi2IrV_align-items);
  justify-content: var(--mixin-3DWty-Yi2IrV_justify-content);
  list-style-position: var(--mixin-3DWty-Yi2IrV_list-style-position);
  padding-left: var(--mixin-3DWty-Yi2IrV_padding-left);
  position: var(--mixin-3DWty-Yi2IrV_position);
  list-style-type: var(--mixin-3DWty-Yi2IrV_list-style-type);
  flex-column-gap: var(--mixin-3DWty-Yi2IrV_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-jGn80cKfuBr5_display);
  flex-direction: var(--mixin-jGn80cKfuBr5_flex-direction);
  align-items: var(--mixin-jGn80cKfuBr5_align-items);
  justify-content: var(--mixin-jGn80cKfuBr5_justify-content);
  list-style-position: var(--mixin-jGn80cKfuBr5_list-style-position);
  padding-left: var(--mixin-jGn80cKfuBr5_padding-left);
  position: var(--mixin-jGn80cKfuBr5_position);
  list-style-type: var(--mixin-jGn80cKfuBr5_list-style-type);
  flex-column-gap: var(--mixin-jGn80cKfuBr5_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-ewwNJhprSCm4_color);
  font-size: var(--mixin-ewwNJhprSCm4_font-size);
  font-weight: var(--mixin-ewwNJhprSCm4_font-weight);
  line-height: var(--mixin-ewwNJhprSCm4_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-W8DyQRE5iAu3_color);
  font-size: var(--mixin-W8DyQRE5iAu3_font-size);
  font-weight: var(--mixin-W8DyQRE5iAu3_font-weight);
  line-height: var(--mixin-W8DyQRE5iAu3_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-REPnsBZTXVn9_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
